[submodule "Plugins/GameAssets"]
	path = Plugins/GameAssets
	url = https://matthewlove.visualstudio.com/unreal-content/_git/unreal-content
[submodule "native/third_party/googletest"]
	path = native/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "native/third_party/cpu_features"]
	path = native/third_party/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "native/third_party/benchmark"]
	path = native/third_party/benchmark
	url = https://github.com/google/benchmark.git
