Checks:
  - '-*'
  - modernize-use-nullptr
  - modernize-use-override
  - readability-redundant-control-flow
  - readability-redundant-string-init
  - performance-unnecessary-value-param
  - performance-move-const-arg
  - bugprone-argument-comment
  - bugprone-use-after-move
  - performance-unnecessary-copy-initialization
  - bugprone-dangling-handle
  - bugprone-inaccurate-erase
  - bugprone-undefined-memory-manipulation
  - bugprone-suspicious-memset-usage
ExtraArgsBefore:
  - /EHsc
